<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.eduraya.e_parking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.E_Parking">
        <activity
            android:name=".ui.deposit.PaymentWebViewActivity"
            android:exported="true" />
        <activity
            android:name=".ui.deposit.PayDepositActivity"
            android:exported="true"
            android:parentActivityName=".ui.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.deposit.CreateDepositActivity"
            android:exported="true" />
        <activity
            android:name=".ui.scan.ScanQrActivity"
            android:exported="true" />
        <activity
            android:name=".ui.myqr.MyQrActivity"
            android:exported="true"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.valet.ValetBookingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.maps.MapsActivity"
            android:exported="true"
            android:parentActivityName=".ui.home.HomeActivity" />


        <activity android:name=".ui.auth.AuthActivity" />
        <activity android:name=".ui.home.HomeActivity">

        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBMhQBPYazEchO26Qz8bxMtHLfG-ECcU0c" />
    </application>

</manifest>